<h3 class="ui block header inverted">
  Investment Watch Dashboard
</h3>
<div class="ui secondary  menu">
  <a [routerLink]="['/']"  routerLinkActive="router-link-active" class="active item">
    Home
  </a>
  <a  [routerLink]="['/portfolio']" routerLinkActive="router-link-active" class="item">
    My Portfolio
  </a>
  <a class="item">Watchlist</a>
  <a class="item">Upcoming Earnings</a>
  <a class="item">Upcoming IPOs</a>
  <a class="item">Stock Newsfeed</a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>

<router-outlet></router-outlet>
